#titulo {
    padding-bottom: 0px;
    padding-top: 30px;
}

#inputs {
    margin-top: 0px;
}

#registrarse {
    margin-top: 3vh;
}

#cords {
    background-color: black;
    color: chartreuse;
    float: left;
}

#tienda1 {
    background-color: chocolate;
}

#tienda2 {
    background-color: rgba(32, 204, 132, 0.712);
}

#tienda3 {
    background-color: rgb(30, 168, 210);
}

#logo {
    height: 15vh;
}

#logo1 {
    height: 15vh;
}

#img1,
#img2,
#img3,
#img4 {
    height: 15vh;
}

.w33 {
    width: 33%;
}

.w100 {
    width: 100%;
}

.p0 {
    padding: 0px;
}

.m0 {
    margin: 0;
}

#backgroundColor {
    background-color: #ffffff;
}

.popover {
    width: 200px;
}

#espacioAbajo {
    height: 40vh;
}

#logoCarritoButton {
    height: 32px;
    width: 32px;
}