@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
#titulo {
    padding-bottom: 0px;
    padding-top: 30px;
}

.page-content {
    margin-top: 60px;
}

#t1 {
    font-family: 'Rancho', cursive;
    font-size: 6vh;
}

#bienvenidaContent {
    margin-top: 60px;
    background-image: url("img\backgrund.jpg")
}

#inputs {
    margin-top: 0px;
}

#registrarse {
    margin-top: 3vh;
}

#cords {
    background-color: black;
    color: chartreuse;
    float: left;
}

#tienda1 {
    background-color: chocolate;
}

#tienda2 {
    background-color: rgba(32, 204, 132, 0.712);
}

#tienda3 {
    background-color: rgb(30, 168, 210);
}

#logo {
    height: 15vh;
}

#logo1 {
    height: 15vh;
}

#img1,
#img2,
#img3,
#img4 {
    height: 15vh;
}

.w33 {
    width: 33%;
}

.w100 {
    width: 100%;
}

.p0 {
    padding: 0px;
}

.m0 {
    margin: 0;
}

#backgroundColor {
    background-color: #ffffff;
}

.popover {
    width: 200px;
}

#espacioAbajo {
    height: 40vh;
}

#logoCarritoButton {
    height: 32px;
    width: 32px;
}

.tiendaCss {
    border-radius: 5vw;
    border: 1px solid #000;
    opacity: 1;
    color: white;
    margin: 1vw;
}

#pantallaTiendas {
    background-color: rgb(255, 255, 255);
}

#index {
    background-color: rgb(255, 255, 255);
}

#logo1 {
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
}

#contenedorImagen {
    background-color: violet;
}

#caraCiclista {
    width: 100%;
    height: 100%;
}