#titulo
{
    padding-bottom: 0px;
    padding-top: 30px;
}
#inputs
{
    margin-top: 0px;
}
#registrarse
{
    margin-top: 3vh;
}
#cords
{
    background-color: black;
    color: chartreuse;
    float: left;
}
